@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

#my_contact {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  padding: 1rem;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #2e9979;
  position: relative;
}



.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  transform: rotate(45deg);
  top: 270px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #ffefbb;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #ffffff;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #ffefbb;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input::placeholder{
  color: #fff;
  opacity: 40%; 
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #ffefbb;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.send-btn {
  padding: 0.6rem 1.3rem;
  background-color: #004f7c;
  border: 2px solid #ffefbb;
  font-size: 0.95rem;
  color: #ffefbb;
  line-height: 1;
  border-radius: 25px;
  outline:#004f7c;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.send-btn:hover {
  
  background-color: #ffefbb;
  color: #004f7c;
  font-weight: 500;
  border: 4px solid #004f7c ;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #004f7c;
  top: 50%;
  transform: translateY(-50%);
  border: #4fb79e 2px solid;
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  background-color: #ffffff;
  /* border: #ffefbb 2px solid; */
}

.contact-info .title {
  color: #004f7c;
}

.text {
  color: #004f7c;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  flex-wrap: wrap;
  color: #004f7c;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.information a{
  color: #004f7c;
  text-decoration: none;
}


.icon {
  width: 28px;
  margin-right: 0.7rem;
  color: #050505;
}

.social-media {
  padding: 2rem 0 0 0;
  color: #ffefbb;
  border-bottom: solid 2px; border-radius: 20px; text-align: center; border-style: outset;
}

.social-media p {
  color: #004f7c;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}


.social-icons .linkTree {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #004f7c, #80c9ac);
  color: #ffefbb;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.social-icons .linkName{
  text-decoration: none;
  color: #004f7c;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    display: none;
    top: -13px;
    left: initial;
    right: 123px;
  }


  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 15px;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }
  .contact-info{
    display: none;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
    text-align: justify;
  }

  .title {
    font-size: 1.15rem;
    text-align: center;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }


  .send-btn {
    padding: 0.45rem 1.2rem;
    position: relative;
    left: 4.5rem;
  }
}



.credit{
  text-align: center;
  color: #004f7c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
  text-decoration: none;
  color:#ffefbb;
  font-weight: bold;
} 

@media (max-width: 330px) {

  .send-btn{
    left: 3.5rem;
  }
}