#hero-section{
    margin: 4rem;
}
#hero{
    display: flex;
    flex-direction: row;
    padding-top: 1px;
    padding-bottom:45px;
}

.wave {
    position: relative;
    background-color: #80c9ac;
    /* background-image: linear-gradient(315deg,
                    #fff 0%, #4fb79e 74%); */
}
  
.wave:before {
    content: "";
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 100%;
    background-color: #ffefbb;
    background: url(wave.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.hero-flex{
    flex:1;
}
.color-white{
    color: #004f7c;
}
.register-btn{
    display:block;
    top: 18rem;
    left: 12rem ;
    text-decoration: none;
    color: #004f7c;
    border-radius: 50px;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: bolder;
    background: #ffefbb;
    position: absolute;
    cursor: pointer;
  }
  .register-btn:hover{
    background: #004f7c;
    transition: 1s;
    color: #ffefbb;
  }
#hero-content{
    position: relative;
    top: 3rem;
}
#hero-content>p{
    font-size: 1.25rem;
    padding: 0 21px;
}
#hero-content>h1{
    font-size: 62px;
}
#hero-content>a{
    color: rgb(1, 0, 1);
}
#hero-img{
    display: flex;
    justify-content: right;
    align-items: center;
}
#hero-img>img{
    padding-top: 80px;
    position: relative;
    right: 19rem;
    width: 25%;
}
@media screen and (max-width: 600px) {
    .wave:before {
        background-color: fff;
        top: 18rem;
        width: 100%;
        height: 100%;
}
}